In [30]:
import matplotlib.pyplot as plt
import pandas as pd 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
# Load titanic dataset
df = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')
# Print first 5 rows of the dataset
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [11]:
#we will use logistic regression for classifiction of sex gender 
dummies = pd.get_dummies(df['Sex'])
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
882       0     1
883       1     0
884       1     0
885       0     1
886       0     1

[887 rows x 2 columns]

In [12]:
dummies = dummies["male"]
dummies

0      1
1      0
2      0
3      0
4      1
      ..
882    1
883    0
884    0
885    1
886    1
Name: male, Length: 887, dtype: uint8

In [22]:
new_df = pd.concat([df,dummies],axis=1)
new_df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,male
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,1
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,0
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,0
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,0
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,1

In [29]:
new_df = new_df[["Pclass","Age","male","Survived"]]
new_df.head()
X = new_df[["Pclass","Age","male"]]
Y = new_df[["Survived"]]

In [31]:
x_train , x_test, y_train, y_test = train_test_split(X,Y,test_size = 0.2)

In [32]:
LR = LogisticRegression()
LR.fit(x_train,y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [33]:
#Quick evaluation
LR.score(x_test,y_test)

0.8258426966292135

In [41]:
#Prediction: 
y_pred = LR.predict(x_test)

In [53]:
#Evaluation:
d=0
for i in range(len(y_pred)):
  if y_test.iloc[i].tolist() == y_pred[i]:
    d = d+1
print("number of tested input: ",len(y_pred),  "Number of accurate predictions:  ",d)

number of tested input:  178 Number of accurate predictions:   147